# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# 数据文件
data/
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.hdf5
*.db
*.sqlite
*.feather
*.pkl
*.pickle

# 日志和输出
*.log
*.out

# VS Code
.idea
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.swp
*.bak